<% provide(:title, 'Sales') %>
<h1>Sales</h1>

<h2>You are currently selling following books</h2>
<table class="table table-bordered">
  <%= render 'shared/book_table_header' %>
  <% @books_on_sale.each do |book| %>
    <%= render 'shared/book_row_info', book: book %>
  <% end %>
</table>

<% if @sold_books.any? %>
  <h2>You've sold these books in the past</h2>
  <table class="table table-bordered">
    <%= render 'shared/book_table_header' %>
    <% @sold_books.each do |book| %>
      <%= render 'shared/book_row_info', book: book %>
    <% end %>
  </table>
<% end %>
