<div class="devise_links pull-right">
  <% if controller_name != 'sessions' %>
    <%= link_to 'Already have an account? Sign in', new_session_path(resource_name), class: 'btn'  %>
  <% end %>

  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to 'Don\'t have an account? Sign up!', new_registration_path(resource_name), class: 'btn' %>
  <% end %>
</div>

