<% if book.authors.count == 1 %>
  <%= book.authors.first.name %>
<% else %>
  <ol>
    <% book.authors.each do |author| %>
      <li>
        <%= author.name %>
      </li>
    <% end %>
  </ol>
<% end %>