<% provide(:title, 'My books') %>
<h1>My Books</h1>

<table class="table">
  <%= render @books %>
</table>

<div class="create_buttons_on_list">
  <%= link_to 'Add new Book', new_book_path, class: 'btn' %>
</div>

