<% provide(:title, 'My places') %>
<h1>My Places</h1>

<table class="table">
  <%= render @places %>
</table>

<div class="create_buttons_on_list">
  <%= link_to 'Add new Place', new_place_path, class: 'btn' %>
</div>

