<footer class="footer">
  <small>
    Developed by <a href="mailto:tugu.by@gmail.com">Denis Poznyak</a>    
  </small>
  <nav>
    <ul>
      <li><small><a href="https://github.com/TuGu/BooksLibrary">GitHub</a></small></li>
    </ul>
  </nav>
</footer>